.admin-users {
  margin-top: 3rem;
  border-top: 2px solid black;
}

.admin-add-user {
  border-top: 2px solid black;
}

.admin-edit-user {
  border-top: 2px solid black;
}

.admin-users {
  display: flex;
  justify-content: space-between;
}
