.admin-users {
  margin-top: 3rem;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.admin-add-user {
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.admin-edit-user {
  border-top: 2px solid black;
}

.selected-user-calendar {
  margin-top: 3rem;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.first-and-last {
  display: flex;
  justify-content: space-between;
}

.phone-numbers {
  display: flex;
  justify-content: space-between;
}

.email-and-role {
  display: flex;
  justify-content: space-between;
}

.side-selectors {
  padding-top: 10px;
  float: left;
  width: 20%;
  height: 100vh;
  background-color: #008CBA;
}

.side-selectors button{
  width: 100%;
}

.content-wrapper {
  float: left;
  width: 80%;
}

.content-wrapper h2{
  text-align: center;
}

.centered-content {
  width: 90%;
  height: 90vh;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  overflow: scroll;
}
