body {
  background-color: #F8F5F5;
}

.index-title {
  text-align: center;
  color: #0569B2;
}

.top-bar {
  background-color: #0569B2;
}

.events-holder {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.event-container {
  border: 1px solid black;
  width: 30%;
  height: 270px;
  margin: 10px;
  float: left;
}

.event-container-clicked {
  border: 1px solid black;
  width: 30%;
  height: 270px;
  margin: 10px;
  float: left;
  background-color: #8EC5E2;
}

.button{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.event-container li{
  list-style: none;
}

.event-centerize {
  text-align: center;
}

.event-logo {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 40px;
}

.description-container {
  border: 1px solid black;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 1%;
}

.event-start-end {
  font-size: 9pt;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.suggested-box {
  border: 1px solid #000000;
}

.fas.fa-times:hover {
   cursor: pointer;
}

.fas.fa-times {
  margin-top: 5px;
  margin-left: 90%;
}

.undo-button {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 30%;
}

.added-succesfully {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  margin-bottom: 10px;
}
