$shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.14);
$font: 'Rambla', sans-serif;
$bright-blue: #75faff;
$turquoise: #008CBA;
$sky-blue: #86c7ff;
$dusk-blue: #0569B2;

*,
body,
button,
title,
div,
nav,
a,
li,
ul,
section,
.index-title,
.home-link,
.form-button,
.events-holder h2,
.top-bar-section ul li a,
.event-container a,
.event-container button {
  font-family: $font;
}

body {
  background-color: #F8F5F5;
}

ul {
  list-style: none;
}

button:hover {
  background-color: $dusk-blue;
  transform: scale(1.05);
  animation-name: Enlarge;
  animation-duration: 0.5s;
}

.index-title {
  text-align: center;
  color: $dusk-blue;
  font-weight: bold;
  letter-spacing: 2px;
}

.top-bar,
.top-bar-section ul li a {
  background-color: $dusk-blue;
  border-bottom: 3px solid $bright-blue;
}

.top-bar {
  box-shadow: $shadow;
}

.top-bar-section ul li a {
  height: 0;
  border-bottom: 3px solid $dusk-blue;
}

.side-selectors {
  border-top: 11px solid white;
  border-right: 11px solid $sky-blue;
  box-shadow: $shadow;
}

#side-selector-wrapper {
  text-align: center;
}

.side-selectors div button {
  border-bottom: 1px solid $bright-blue;
  width: 55%;
}

.events-holder {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.event-container {
  border: 1px solid black;
  width: 30%;
  height: 270px;
  margin: 10px;
  float: left;
}

.event-container-clicked {
  border: 1px solid black;
  width: 30%;
  height: 270px;
  margin: 10px;
  float: left;
  background-color: $sky-blue;
  box-shadow: $shadow;
}

.button{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.event-container li{
  list-style: none;
}

.event-centerize {
  text-align: center;
}

.event-logo {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 40px;
}

.description-container {
  border: 1px solid black;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 1%;
}

.event-start-end {
  font-size: 9pt;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.suggested-box {
  border: 1px solid #000000;
}

#x-icon {
  color: white;
  margin-top: 1%;
  margin-left: 80%;
}

#x-icon:hover {
  color: $dusk-blue;
  cursor: pointer;
  transition-duration: 0.3s;
}

.fas.fa-arrow-right.fa-2x {
  color: white;
  padding: 10px;
  float: left;
  background-color: $turquoise;
  cursor: pointer;
}

.fas.fa-arrow-right.fa-2x:hover {
  color: $bright-blue;
  padding: 10px 15px 10px 15px;
  background-color: #2969AC;
  transition-duration: 0.3s;
}

.form-label {
  color: $turquoise;
  font-size: 1.5rem;
  text-align: center;
}

.form-field input {
  box-shadow: $shadow;
}

#form-button-div {
  text-align: center;
}

#form-button-div button {
  margin: 1rem;
}

#search-bar {
 margin-top: 2rem;
 margin-left: 15%;
 box-shadow: $shadow;
}

input.search-field {
  height: 3rem;
  width: 110%;
  float: right;
}

#search-bar-ul input{
  box-shadow: $shadow;
}

#search-bar-li {
  float: left;
}

.search-button {
  height: 3rem;
  margin-left: 0.5rem;
}

#suggested-title {
  color: $dusk-blue;
  font-weight: bold;
  letter-spacing: 3px;
}

.event-container {
  box-shadow: $shadow;
  background-color: white;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid #ccd8e5;
  border-left: 1px solid #ccd8e5;
  border-bottom: 3px solid #ccd8e5;
  border-right: 3px solid #ccd8e5;
}

.event-container:hover {
  transform: scale(1.05);
  animation-name: Enlarge;
  animation-duration: 0.5s;
}

.event-container a,
.event-container button {
  background-color: $turquoise;
}

.search-button:hover,
.event-container a:hover,
.event-container button:hover {
  background-color: $dusk-blue;
  transform: scale(1.05);
  animation-name: Enlarge;
  animation-duration: 0.5s;
}

.events-holder {
  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.event-name {
  color: $dusk-blue;
  margin: 0.5rem;
  margin-bottom: 0;
  font-size: 1.25rem;
  max-height: 7.5rem;
  overflow: hidden;
}

.event-date {
  text-align: center;
  padding-top: 0.1rem;
  font-size: 1.2rem;
}

.event-time {
  color: $turquoise;
  padding: 0.1rem;
  font-size: 1rem;
}

.event-tile-buttons a,
.event-tile-buttons button {
  padding: 0.5rem;
}

.added-succesfully {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
  background-color: white;
  margin-bottom: 10px;
  max-height: 6rem;
}

.added-succesfully p {
  color: $dusk-blue;
  overflow: hidden;
  max-height: 6rem;
}

.undo-button {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 30%;
}

#x-icon-success {
  color: white;
  margin-top: 2%;
  margin-left: 86%;
}

#x-icon-success:hover {
  color: $dusk-blue;
  cursor: pointer;
  transition-duration: 0.3s;
}

@-webkit-keyframes Enlarge {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
}
