.signin-box {
  margin: 20px;
  background-color: #DEDDE9;
  border: 1px solid #000000;
}

.signin-box h2{
  margin-left: 5%;
  margin-top: 40px;
}

.signin-content {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  padding-bottom: 60px;
}
